.header
    {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    width: 100%;
    height: 100%;
    background-color: #acbeb9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    }

.header_inner
{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.header_logo
{
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
    padding-left: 30px;
    text-decoration:  none;
    transition: color .2s linear;
}

.nav
{
    font-size: 14px;
    text-transform: uppercase;
    
}

.nav_link
{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: aliceblue;
    text-decoration:  none;
    transition: color .2s linear;
    
}

.nav_link:after
{
content:"";
display: block;
width: 100%;
height: 3px;
display: none;
background-color: blueviolet;
position: absolute;
top: 100%;
left: 0;
right: 0;
}

.nav_link:hover
{
color: blueviolet;
}

.border-boxkorzina
{
    display: block;
    overflow-y: scroll;
    white-space: nowrap;
    height: 90%;
    padding: 10px;
    padding-left: 15px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background: #E6DEEA;

}


.h
{
display: block;
font-size: 24px;
text-align: center;
}


.tovar
{
    padding-left: 5px;
    position: relative; 
    align-items: center;
    width: 300px;
    height: 250px;
}
.image {
    display: flex;
    float: left;
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    

  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
  }
  .name
  {
      font-size: 24px;
      padding-left: 150px;
      padding-top: 80px;
      width: 250px;
  }

.button2
{
display: block;
width: 200px;
height: 50px;
margin-top: 50px;
color: #fff;
background: #111;
line-height: 0.5;
font-size: 1rem;
margin-left: 15px;
border-radius: 10px;
margin-left: 800px;
}
.button2:hover
{
    color: blueviolet;
}
